<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.订单明细Mapper">
    <delete id="delddmx">
        delete
        from 订单明细
        where 订单id = #{订单id} AND 产品id = #{产品id}
    </delete>
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.订单明细">
        <id column="订单ID" property="订单id" />
        <result column="产品ID" property="产品id" />
        <result column="数量" property="数量" />
        <result column="产品总金额" property="产品总金额" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        订单ID, 产品ID, 数量, 产品总金额
    </sql>
</mapper>
