<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.订购库存Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.订购库存">
        <result column="产品ID" property="产品id" />
        <result column="库存量" property="库存量" />
        <result column="中止" property="中止" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        产品ID, 库存量, 中止
    </sql>

</mapper>
