<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.雇员承接订单数Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.雇员承接订单数">
        <result column="雇员ID" property="雇员id" />
        <result column="订单数量" property="订单数量" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        雇员ID, 订单数量
    </sql>

</mapper>
